<!DOCTYPE html>
<html>
<% include include/header.ejs %>
<body>
<% include include/topNav.ejs %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                Recent Posts
            </h1>

            <!-- First Blog Post -->
            <div class="row">
                <div class="col-md-8">
                <h2>
                    <a href="#">5 ways to create instance in Java</a>

                </h2>
                <p class="lead">
                    by <a href="index.php">GWang</a></span> |
                    <time datetime="2016-05-31T13:55:18+00:00">May 31, 2016</time>
                </p>
                </div>
                <div class="col-md-4">
                    <img class="pull-right" src="/images/JAVA-ICON.png" width="100">
                </div>

            </div>
            <hr>




            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">


        </div>

    </div>
    <!-- /.row -->

    <hr>
    <% include include/footer.ejs %>

</div>
</body>
</html>
